[Desktop Entry]
Version=1.0
Type=Application
Name=Moonlight Monitor
Comment=Monitor de sistema ligero para gaming
Exec=python3 "/home/sebas/Documentos/Moonlight/moonlight.py"
Icon=utilities-system-monitor
Terminal=false
Categories=Utility;System;
Keywords=monitor;system;gaming
StartupNotify=false